.game-container {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
  width: 60%;
  height: 100%;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem 0;
}

 .game-btn {
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.game-btn:hover {
  background-color: #1b4acc;
}

.scores {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0;
}

.result {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.final-result {
  margin: 2rem 0;
}